.mb-3 {
    margin-left: 24px;
}


.help-email-login {
    margin-right: 30px;
}

.help-password-login {
    margin-right: 30px;
}

@keyframes showText {
    from {
        transform: translate(0px);
        opacity: 0;
    }

    to {
        transform: translate(0px);
        opacity: 1;
    }
}